/**
 * Defined somewhere else
 */
$errorSelector: ':host-context(.ng-submitted) :host.ng-invalid, :host.ng-invalid.ng-dirty.ng-touched';

#{$errorSelector} {
  input {
    // border-color: red;
  }
}

:host-context(form.ng-submitted .ng-invalid) {
  input {
    border-color: green;
  }
}

:host-context(form .ng-invalid) :host.ng-dirty.ng-touched {
  input {
    border-color: red;
  }
}
